.c3{
    width:450px;
    margin-top: 60px;
    margin-left: 575px;
    background-color: rgb(4, 4, 92);
}

.h1main{
    text-align: center;
    background-color: rgb(5, 5, 52);
    color: rgb(245, 245, 245);
}

.submit{
   margin-left:160px;
}

.abc{
    color: rgb(245, 245, 245);
    margin-left: 120px;
}

.form-group{
    color: rgb(245, 245, 245);
    text-align: center;
}
